.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
}

.modal-content {
    background: rgb(0, 0, 0);
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 12px rgba(240, 238, 238, 0.15);
}

.modal-content h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
}

.modal-content label {
    font-weight: bolder;
    color: rgb(255, 255, 255);
}
